
version: '3'
services:
  nginx:
    image: nginx:1.15.2-alpine
    ports:
      - "80:80"
      - "4433:4433"
      - "5124:5124"
    volumes:
      - ${PWD}/backend/conf/nginx:/etc/nginx/conf.d:ro
      - ${PWD}/backend/retro/flask/static:/usr/share/nginx/html:ro
      - ${PWD}/backend/conf/certs:/etc/ssl:ro
    depends_on:
      - api
      - websocket
  api:
    build:
        context: ./backend/
        dockerfile: Dockerfile.api
    depends_on:
      - redis
    ports:
      - "8880:8880"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - TEMPLATE_CONFIG=/usr/src/app/conf/templates.cfg
  websocket:
    build:
        context: ./backend/
        dockerfile: Dockerfile.websocket
    depends_on:
      - redis
    ports:
      - "4215:4215"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
  redis:
    image: redis:4-alpine
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ${PWD}/backend/conf/redis/redis.conf:/usr/local/etc/redis/redis.conf
      - ${PWD}/redis-data:/data
    ports:
      - "6379:6379"
  okta-proxy:
    image: okta-proxy
    ports:
      - "443:443"
    depends_on:
      - nginx
  mongodb:
    image: mongo:latest
    container_name: "mongodb"
    restart: always
    ports:
      - 27017:27017
