body, h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Dosis", sans-serif;
}

p, span, a, button, label, input {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body::after {
    content: '';
    background-image: url("background.png");
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.6;
}
