body, h1, h2, h3, h4, h5, h6, p, span, ul, li {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

p, span, a, button, label, input, li {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

body {
    background-color: #306A8C;
}
